body {
  background-color: #eaeaea;
  width: 1280px;
  height: 720px;
  overflow: hidden;
  -webkit-user-select: none;
}

p{
  cursor: default;
}

textarea {
  resize: none;
}

img {
  -webkit-user-drag: none;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
 
*::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 20px;
}

*::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 20px;
}

.anim-page-fadein {
  animation-name: fadein;
  animation-duration: 100ms;
  animation-timing-function: ease-out;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(-16px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}